
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-image: url(stacked-steps-haikei.svg);
  text-align: center;
} 

h1 {
  text-align: center;
  /* color: #fff;
  background-image: radial-gradient(circle, red, yellow, green); */
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, #3f3f3f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

input[type="text"] {
  padding: 5px;
  width: 200px;
  margin-bottom: 10px;
}

button {
  padding: 5px 10px;
  margin-left: 10px;
}

ul {
  list-style-type: none;
  padding: 0;

}
  
.completed {
  text-decoration: line-through;
  color: green;
}

.incomplete {
  display: none;
  /* visibility:hidden; */
}
li{
  justify-content: space-between;
}
