body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1 {
    text-align: center;

  }
  
  input[type="text"] {
    padding: 5px;
    width: 200px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 5px 10px;
    margin-left: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;

  }
    
  .completed {
    text-decoration: line-through;
    color: green;
  }
  
  .incomplete {
    text-decoration: line-through;
    color: red;
    
  }
  .container{

    justify-content: center;
    align-items:center;
  }
  